* {
    margin: 0;
    border: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

.hfirst {
    /* background-image: url('resources/Banner\ Image.png'); */
    background-position: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    border: 16px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 16px;
    background-repeat: no-repeat;
}

.htext {
    /* margin-top: 177px; */

    position: absolute;
    top: 138px;
    left: 50%;
    transform: translate(-50%,
            0%);

}

.htext h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;


}

.hfirst h1 {
    color: #FFF;
    margin: 0;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}


/* off section */
.off {
    max-width: 803px;
    margin: 110px auto;
    align-content: center;

}

.offheader {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.offdes {
    color: #F00;
    margin-top: 48px;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 48px;
}

.offdes h3 {
    color: black;
    font-size: 48px;
}

.offimage {
    height: 500px;
}

/* welcome section */
.welcome {
    background-position: center;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    border: 16px;
    margin: 0 auto;
    border-radius: 16px;
    background-repeat: no-repeat;
    align-items: center;

}

.welcomegroup {
    /* position: absolute;
    margin-top: 68px;
    left: 50%;
    transform: translate(-50%,0%); */
    padding: 68px 135px 68px 126px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1150px;
    max-height: 464px;
}

.welcometext h1 {
    color: #FFF;

    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    /* margin-left: 126px 95px 24px 126px; */
}

.welcometext p {
    color: rgba(255, 255, 255, 0.80);

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.welcometext button{
    
    margin-top: 48px;
    margin-left: 32px;
    background-image: url("resources/redbackground.jpg");
    border-radius: 20px;
   
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.welcometext a{
    text-decoration: none;
    color: #FFF; 
    padding: 10px;
}

/* invite card section */
.invite{
    background-position: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); 
    width: 1320px;
    height: 482px;
    border: 16px;
    margin: 120px auto;
    border-radius: 16px;
    background-repeat: no-repeat;
    align-items: center;
    }

.invitetext{
    align-items: center;
padding: 100px 370px 110px 370px;
text-align: center;
max-width: 550px;
}
.invitetext h3{
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}
.invitetext button{
    margin-top: 48px;
    text-align: center;
    font-family: Inter;
    padding: 16px 32px;
    border-radius: 10px;
    
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-image: url("resources/redbackground.jpg");

}

.invitetext a{
    color: white;
    text-decoration: none;
}
.invitehead{
    color:red; 
    
}


/* portfolio area */
.portfolio{
    width: 1320px;
   border: 16px;
    margin: 120px auto;
    background-position: center;
    

}

.portfoliotext{

}

.portfoliotext h4{
    color: #F00;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.portfoliotext h2{
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.portfoliotext p{
    color: rgba(7, 2, 17, 0.60);
    max-width: 896px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
    margin-bottom: 48px;
}

.portfolioflex1{
    display: flex;
    height: 450px;
    width: auto;
    justify-content: space-between;
    margin-bottom: 24px;
    
}
.imgflex{
    
    display: flex;
    
    width: 100%;
    height: auto;
}
.imgflex img{
    /* height: 100%;
    width: 100%; */
    margin-right: 24px;
    
}
.imgflex:hover img{
    transform: scale(1.5) rotate(360deg);
    transition: 1s;

}


/* newsletter */
.newsletter{
    text-align: center;
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background-position: center;
    margin: auto;
    background: rgb(234, 255, 78);
}

.newsletter img{
    padding: 80px 0 0 0;
    margin-bottom: 40px;
    height: 150px;
    width: 150px;
}
.newsletter h1{
    color: #070211;

    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.newsletter p{
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}
.newsletterform{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter input{
    width: 648px;
    height: 72px;  
     
}
.newsletter button{
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}
.newsletter a{
    text-decoration: none;
  
        /* for text */ 
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

/* footer design */
.footer{
    width: 100%;
    height: 609px;
    background: #070211;
    margin-top: 120px;
}

.footertext{
    display: flex;
    /* padding: 160px 270px 0 140px; */
    padding: 100px 140px 0 140px;;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px ;

}

.footertext p{
    color: #FFF;
    width: 375px;
    height: 80px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.footercontact{
    
}
.footercontact a{
    color: #FFF;
    text-decoration: none;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
    margin-left: 16px;
    
      
}
.footercontact img{
    width: 24px;
    height: 24px;
}

.footer hr{
    background: rgba(255, 255, 255, 0.733);


}

/* footer media */

.footermedia{
    display: flex;
    padding: 48px 630px 0 630px;
    justify-content: space-between;
    margin:auto;
    align-items: center;
}
.footermedia img{
    margin-right: 14px;
}
.media:hover img{
    opacity: 50%;
}

/* rights */

.footerright{
    display: flex;
    padding: 100px 140px 0 140px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px ;
}
.footerright p{
    
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footerright a{
    color: #FFF;
    text-decoration: none;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}