*{
    margin: 0;
    border: 0;
}
body {
    font-family: 'Merriweather', serif;
     font-family: 'Open Sans', sans-serif;
}
.hfirst{
    /* background-image: url('resources/Banner\ Image.png'); */
    background-position: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(resources/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    border: 16px;
    margin: 0 auto;
    border-radius: 16px;
    background-repeat: no-repeat;
}
.htext{
    /* margin-top: 177px; */
   
    position: absolute;
    top: 138px;
    left: 50%;
    transform: translate(-50%, 
    0%);
    
}
.htext h3{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
  

}
.hfirst h1{
    color: #FFF;
    margin: 0;
    
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; 
}